*{

    background-color: white;
}

.main_row{
    min-height: 500px;
}

.main_principal{

    background-color: white;

}

.main_aside{
    color: white;
    background-color: #00051C;
    border: 3px solid;
    box-sizing: border-box;
    border-radius: 20px;
}

.main_aside p{
    position: relative;
    color: white;
    background-color: transparent;
}
