*{

    background-color: white;
}

.main_row{
    min-height: 500px;
}

.main_principal{

    background-color: white;

}

.main_principal h2{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 20px;
    background-color: #a8b6f5;
    border-radius: 10px;
}

.main_aside{
    
    color: white;
    background-color: #00051C;
    border: 3px solid;
    box-sizing: border-box;
    border-radius: 20px;
    
}

.main_aside p{
    position: relative;
    color: white;
    background-color: transparent;
}

.foto_usuario img{
    
    width: 90%;
    height: 100%;
    padding: 10px;
}

.descricao_usuario {
    background-color: #a8b6f5;
    border-radius: 10px;
}

.descricao_usuario p{
    font-family: 'Roboto', Times, serif;
    font-size: 20px;
    margin-top: 10px;
    color: black;
    background-color: transparent  ;
    
}

.descricao_usuario label{
    background-color: transparent;
}

#imagem_perfil{
    background-color: transparent;
}

#imagem_perfil:hover{
    background-color: rgb(238, 236, 236);
}

.icon_editar{
    float: right;
    width: 15px;
    height: 15px;
    background-color: transparent;
    
}

.icon_editar:hover{
    background-color: rgb(238, 236, 236);
}

.main_aside img{
    float: right;
    margin-top: 10px;
    width: 40%;
    height: 50%;
}






